.App {
  display: flex;
  flex-direction: row;
  color: white;  
  font-size: calc(10px + 2vmin);
}

.inner-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 1%;
  column-gap: 3%;
  flex:1;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
}

.outer-grid-container {
  display: grid;
  flex: 1;  
  grid-template-columns: 20% 80%;
  background-color: black;
}